[user]
	name = Alan Tsai
	email = alan@alantsai.net
[color]
	ui = true
[core]
	excludesfile = ~/.gitignore_global
	editor = 'C:\\tools\\vim\\vim82\\gvim.exe' -f -i NONE
	autocrlf = true
	quotepath = false

[alias]
	hist = log --format=\"[%h] %ad | %s%d [%an]\" --graph --date=short
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	pf = push origin --force-with-lease
	new = lg main..HEAD
	missing = lg HEAD..main
[credential]
	helper = cache
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
